main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 0 5rem;
  background-color: #fafafa;



  .header-left {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 1.5rem;
      text-align: center;
      color: #262626;

      span {
        background: linear-gradient(45deg,
            #f58529,
            #dd2a7b,
            #8134af,
            #515bd4);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    img {
      width: 100%;
      max-width: 420px;
    }
  }


  .form-container {
    width: 380px;
    padding: 45px 40px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

    h1 {
      margin-bottom: 35px;
      font-size: 34px;
      font-weight: 600;
      color: #262626;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input {
        padding: 12px 10px;
        font-size: 15px;
        border: 1px solid #dbdbdb;
        border-radius: 4px;
        background: #fafafa;
        outline: none;

        &:focus {
          border-color: #a8a8a8;
          background: #fff;
        }
      }

      button {
        margin-top: 16px;
        padding: 10px 0;
        font-size: 15px;
        font-weight: 600;
        color: #fff;
        background-color: #0095f6;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: #1877f2;
        }

        &:active{
          transform: scale(0.85);
        }

      }
    }

    p {
      margin-top: 30px;
      font-size: 14px;
      color: #262626;
    }

    .toggleAuthForm {
      margin-left: 6px;
      font-weight: 600;
      text-decoration: none;
      background: linear-gradient(45deg,
          #f58529,
          #dd2a7b,
          #8134af,
          #515bd4);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}


@media (max-width: 900px) {
  main {
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;

    .header-left img {
      display: none;
    }
  }
}