main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    height: fit-content;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem;
        background-color: #2d2d2d;
        border-radius: 0.5rem;

        input{
            padding: 0.5rem;
            border-radius: 0.25rem;
            border: none;
            outline: none;
            background-color: #1d1d1d;
            color: rgb(250, 245, 245);
        }

        button{
            padding: 0.5rem;
            border-radius: 0.25rem;
            border: none;
            outline: none;
            background-color: #4caf50;
            color: white;
            cursor: pointer;

            &:hover{
                background-color: #45a049;
            }
        }
    }

    .toggleAuthForm{
        color: #4caf50;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;

        &:hover{
            text-decoration: underline;
        }
    }
}